@import "../../../variables";

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  row-gap: 15px;
  box-sizing: border-box;
  padding: 0px 150px;

  section {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    padding: 100px 0px;
    box-sizing: border-box;
  }

  .qr {
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;

    h1 {
      margin-bottom: 2rem;
    }
    h1,
    h3 {
      font-family: $primary-font;
    }
  }
}
