<main>
  <section class="qr">
    <article>
      <h1>
        {{ "qr.title" | translate }}
      </h1>
    </article>
    <article>
      <h3>{{ "qr.role.title" | translate }}</h3>
      <p>
        {{ "qr.role.text_1" | translate }}
      </p>
    </article>
    <article>
      <h3>
        {{ "qr.abstract.title" | translate }}
      </h3>
      <p>
        {{ "qr.abstract.text_1" | translate }}
      </p>
      <p>
        {{ "qr.abstract.text_2" | translate }}
      </p>
      <p>
        {{ "qr.abstract.text_3" | translate }}
      </p>
      <p>
        {{ "qr.abstract.text_4" | translate }}
      </p>
      <p>
        {{ "qr.abstract.text_5" | translate }}
      </p>
    </article>
    <article>
      <h3>Sources</h3>
      <p>
        <a
          class="external"
          target="_blank"
          href="https://dl.acm.org/doi/fullHtml/10.1145/3606305.3606330"
          >Article</a
        >
      </p>
      <p>
        <a
          class="external"
          target="_blank"
          href="https://dl.acm.org/doi/abs/10.1145/3606305.3606330"
          >Abstract</a
        >
      </p>
      <p>
        <a
          class="external"
          target="_blank"
          href="https://www.scopus.com/results/authorNamesList.uri?sort=count-f&src=al&sid=a91bd34ef55fe454318b5389a8e3eb17&sot=al&sdt=al&sl=53&s=AUTHLASTNAME%28datunishvili%29+AND+AUTHFIRST%28konstantine%29&st1=datunishvili&st2=konstantine&orcidId=&selectionPageSearch=anl&reselectAuthor=false&activeFlag=true&showDocument=false&resultsPerPage=20&offset=1&jtp=false&currentPage=1&previousSelectionCount=0&tooManySelections=false&previousResultCount=0&authSubject=LFSC&authSubject=HLSC&authSubject=PHSC&authSubject=SOSC&exactAuthorSearch=false&showFullList=false&authorPreferredName=&origin=searchauthorfreelookup&affiliationId=&txGid=02f2699069a18cd34b6ab2aa9bc5d08c"
          >Scopus</a
        >
      </p>
    </article>
  </section>
</main>
