<main>
  <section class="info flex-center" id="info">
    <article>
      <h4>{{ "info.greeting" | translate }}</h4>
      <h1>{{ "info.fullName" | translate }}</h1>
      <h2>{{ "info.profession" | translate }}</h2>
      <p>
        {{ "info.detailed" | translate }}
        <a class="external" [href]="link" target="_blank">
          {{ "info.academy" | translate }}
        </a>
      </p>
    </article>
  </section>
  <section class="about" id="about" data-aos="slide-up" data-aos-duration="1000">
    <h2 class="header-text">{{ "about.header" | translate }}</h2>
    <article>
      <aside class="left">
        <div>
          <p>{{ "about.first_text" | translate }}</p>
          <p>
            {{ "about.second_text_first" | translate }}
            <a
              class="external"
              [href]="'https://ge.itstep.org/'"
              target="_blank"
            >
              {{ "info.academy" | translate }}
            </a>
            {{ "about.second_text_second" | translate }}
          </p>
          <p>
            {{ "about.third_text" | translate }}
          </p>
          <p>{{ "about.forth_text" | translate }}</p>
          <ul class="lists" [class.lower]="lowerZIndex">
            <li>HTML</li>
            <li>CSS/SCSS</li>
            <li>JavaScript (ES6+)</li>
            <li>TypeScript</li>
            <li>Angular</li>
            <li>RxJS</li>
            <li>Node.js</li>
            <li>MongoDB</li>
            <li>Nest.js</li>
            <li>Socket.io</li>
          </ul>
        </div>
      </aside>
      <aside class="right">
        <div [class.lower]="lowerZIndex">
          <img
            src="../../../assets/images/personal_image.png"
            alt="konstantine datunishvili image"
          />
        </div>
      </aside>
    </article>
  </section>
  <section class="experience" id="experience" data-aos="slide-up" data-aos-duration="1000">
    <h2 class="header-text">{{ "experience.header" | translate }}</h2>
    <div class="jobs">
      <div class="jobs__tabs">
        <button
          *ngFor="let job of jobsInformation; let i = index"
          (click)="activeJobIndex = i"
          [class.active]="activeJobIndex === i"
          [tabindex]="activeJobIndex === i ? -1 : 1"
        >
          {{ createTranslateKeyForJobs(job) | translate }}
        </button>
      </div>
      <div class="jobs__description">
        <div class="jobs__description__header">
          <h3>
            {{ jobDesription("position") | translate }}
            <span *ngIf="jobsInformation[activeJobIndex].link">
              <a
                class="external"
                target="_blank"
                [href]="jobsInformation[activeJobIndex].link"
                >{{ jobDesription("at") | translate }}</a
              >
            </span>
          </h3>
          <p>{{ jobDesription("date") | translate }}</p>
        </div>
        <div class="jobs__description__details">
          <ul class="lists" [class.lower]="lowerZIndex">
            <li
              *ngFor="
                let item of getJobDetailsArray(activeJobIndex);
                let i = index
              "
            >
              <span>
                {{ jobDesription("details") + "." + (i + 1) | translate }}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="projects" id="projects">
    <h2 class="header-text">{{ "projects.header" | translate }}</h2>
    <div class="projects_list">
      <article
        class="project"
        *ngFor="let project of projectsInformation; let i = index"
        data-aos="slide-up"
        data-aos-duration="1000"
        [class.right]="i % 2 !== 0"
      >
        <a
          *ngIf="!project.additional"
          [href]="project.link"
          target="_blank"
          class="external_image"
          [ngStyle]="{ backgroundImage: project.backgroundImageURL }"
        ></a>
        <a
          *ngIf="project.additional"
          class="external_image"
          [ngStyle]="{ backgroundImage: project.backgroundImageURL }"
          [routerLink]="project.additional.link"
        ></a>
        <aside class="content">
          <p class="tag">{{ getKeyForProjects(project, "tag") | translate }}</p>
          <a
            *ngIf="!project.additional; else additional"
            [href]="project.link"
            target="_blank"
          >
            {{ getKeyForProjects(project, "title") | translate }}
          </a>
          <ng-template #additional>
            <a [routerLink]="project.additional?.link">
              {{ getKeyForProjects(project, "title") | translate }}
            </a>
          </ng-template>
          <div class="project_description">
            <p>{{ getKeyForProjects(project, "description") | translate }}</p>
          </div>
          <p class="tags">
            <span
              *ngFor="
                let tag of getJobDetailsArray(i, projectsInformation);
                let j = index
              "
            >
              {{
                getKeyForProjects(project, "tags") + "." + (j + 1) | translate
              }}
            </span>
          </p>
          <app-anchor
            *ngIf="project.additional"
            [text]="project.additional.text"
            [link]="project.additional.link"
          ></app-anchor>
        </aside>
      </article>
    </div>
  </section>
  <section class="other-projects">
    <h2 class="header-text">{{ "other_projects.header" | translate }}</h2>
    <article class="projects-list">
      <app-project-card
        data-aos="slide-up"
        *ngFor="let projectData of otherProjectsInformation; let i = index"
        [project]="projectData"
        [attr.data-aos-duration]="i * 500"
      ></app-project-card>
    </article>
    <div class="flex-center">
      <app-anchor
        [text]="'other_projects.view_archive'"
        [link]="'archive'"
      ></app-anchor>
    </div>
  </section>
  <section class="contact" id="contact" data-aos="slide-up" data-aos-duration="2000">
    <h2 class="header-text">{{ "contact.header" | translate }}</h2>
    <p>{{"contact.description" | translate }}</p>
    <app-anchor
      [text]="'contact.text'"
      [target]="'external'"
      [link]="'mailto:info@konstantinedatunishvili.com'"
    ></app-anchor>
  </section>
</main>
