@import "../../../variables";

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  box-sizing: border-box;
  padding: 0px 150px;

  section {
    width: 100%;
    height: calc(100vh - 100px);
    margin: 0px auto;
    padding-top: 100px;
    box-sizing: border-box;
  }

  .info {
    article {
      grid-template-columns: 1fr;
      row-gap: 5px;
      display: grid;

      * {
        margin: 0px;
      }

      h1,
      h2,
      p {
        font-family: $primary-font;
      }

      h4 {
        font-weight: 400;
        font-size: clamp($font-size-sm, 8vw, $font-size-md);
        color: $green-color;
      }

      h1 {
        font-size: clamp(40px, 5vw, 60px);
      }

      h2 {
        margin-top: 5px;
        color: $slate-color;
        font-size: clamp(40px, 5vw, 60px);
      }

      p {
        margin: 20px 0px 0px;
        max-width: 560px;
        font-size: $font-size-md;
        line-height: 1.5;

        a {
          display: inline-block;
          color: $green-color;
          transition: $transition;
          text-decoration: none;
          text-decoration-skip-ink: auto;

          &:hover,
          &:focus-visible {
            outline: none;
            border-bottom: 1px solid $green-color;
          }
        }
      }
    }
  }

  .about {
    h2 {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 10px 0px 40px;
      font-size: clamp(25px, 5vw, $font-size-heading);
      white-space: nowrap;

      &::after {
        content: "";
        display: block;
        max-width: 300px;
        width: 100%;
        height: 1px;
        margin-left: 20px;
        background-color: $light-navy-color;
      }
    }

    article {
      display: grid;
      grid-template-columns: 3fr 2fr;
      gap: 50px;

      .left {
        p {
          margin: 0px 0px 15px;
          color: $slate-color;
          font-family: $primary-font;
        }
      }

      .right {

        div.lower {
          z-index: -1;
        }

        div {
          width: fit-content;
          user-select: none;
          max-width: 300px;
          display: block;
          border-radius: $border-radius;
          transition: $transition;
          position: relative;
          inset: 0px;
          object-fit: cover;
          z-index: 10;

          &:hover,
          &:focus,
          &:focus-visible {
            outline: 0px;
            transform: translate(-4px, -4px);
            box-shadow: 0px 20px 30px -15px rgba(2, 12, 27, 0.7);

            &::after {
              transform: translate(8px, 8px);
            }

            &::before {
              opacity: 0;
            }
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: $border-radius;
            transition: $transition;
            border: 2px solid $green-color;
            top: 10px;
            left: 10px;
            z-index: -1;
          }

          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 300px;
            border-radius: $border-radius;
            transition: $transition;
            background-color: #64ffda;
            opacity: 0.5;
          }

          img {
            width: 300px;
            height: 300px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  main {
    padding: 100px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 50px;

    section {
      height: auto;
    }

    .about {
      article {
        grid-template-columns: 1fr;
        place-items: center;
      }
    }
  }
}

@media (max-width: 480px) {
  main {
    padding: 25px;

    .about {
      .right {
        div {

          &::before {
            height: 100% !important;
          }

          img {
            width: 200px !important;
            height: 200px !important;
          }
        }
      }
    }
  }
}
