@import "../../../variables";

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  box-sizing: border-box;
  padding: 0px 150px;

  .info {
    width: 100%;
    height: calc(100vh - 100px);
    margin: 0px auto;
    padding-top: 100px;

    article {
      grid-template-columns: 1fr;
      row-gap: 5px;
      display: grid;

      * {
        margin: 0px;
      }

      h1,
      h2,
      p {
        font-family: $primary-font;
      }

      h4 {
        font-weight: 400;
        font-size: clamp($font-size-sm, 8vw, $font-size-md);
        color: $green-color;
      }

      h1 {
        font-size: clamp(40px, 5vw, 60px);
      }

      h2 {
        margin-top: 5px;
        color: $slate-color;
        font-size: clamp(40px, 5vw, 60px);
      }

      p {
        margin: 20px 0px 0px;
        max-width: 560px;
        font-size: $font-size-md;
        line-height: 1.5;

        a {
          display: inline-block;
          color: $green-color;
          transition: $transition;
          text-decoration: none;
          text-decoration-skip-ink: auto;

          &:hover,
          &:focus-visible {
            outline: none;
            border-bottom: 1px solid $green-color;
          }
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  main {
    padding: 100px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 50px;
  }
}

@media (max-width: 480px) {
  main {
    padding: 25px;
  }
}
