<div class="logo flex-center" aria-label="logo" (click)="scrollUp()">
  <aside class="logo__initial">
    <span>K</span>
  </aside>
  <div class="logo__part">
    <div class="logo__part__wrap">
      <div class="logo__part__wrap__line sixth"></div>
      <div class="logo__part__wrap__line third"></div>
    </div>
  </div>
  <div class="logo__part">
    <div class="logo__part__wrap">
      <div class="logo__part__wrap__line first"></div>
      <div class="logo__part__wrap__line forth"></div>
    </div>
  </div>
  <div class="logo__part">
    <div class="logo__part__wrap">
      <div class="logo__part__wrap__line fifth"></div>
      <div class="logo__part__wrap__line second"></div>
    </div>
  </div>
</div>
