<div class="loader flex-center" aria-label="loading-logo">
  <aside class="loader__initial">
    <span>K</span>
  </aside>
  <div class="loader__part">
    <div class="loader__part__wrap">
      <div class="loader__part__wrap__line sixth"></div>
      <div class="loader__part__wrap__line third"></div>
    </div>
  </div>
  <div class="loader__part">
    <div class="loader__part__wrap">
      <div class="loader__part__wrap__line first"></div>
      <div class="loader__part__wrap__line forth"></div>
    </div>
  </div>
  <div class="loader__part">
    <div class="loader__part__wrap">
      <div class="loader__part__wrap__line fifth"></div>
      <div class="loader__part__wrap__line second"></div>
    </div>
  </div>
</div>