@import "../../../variables";

section {
  width: 100%;
  height: calc(100vh - 10px);
  div {
    text-align: center;

    h3 {
      line-height: 1.5;
      overflow: hidden;
      border-right: .15em solid $green-color;
      white-space: nowrap;
      margin: 10px auto 25px;
      letter-spacing: .15em;
      animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
    }

    p {
      margin: 0 auto;
      color: $green-color;
    }

  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $green-color }
}