@import 'variables';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: $navy-color;
  font-family: $secondary-font;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}